@model Split_Receipt.Payload.CheckoutSummary

<style>
    :root {
        --fg-color: rgb(67, 68, 73);
        --fg-color--light: rgb(117, 118, 123);
        --bg-color: #35363a;
        --text: #FFF;
    }

    body {
        background-color: var(--bg-color);
    }

    .wrapper {
        background-color: var(--fg-color);
        padding: 30px;
        display: block;
        width: 560px;
    }

    .summary-li {
        background-color: var(--fg-color--light);
        border-radius: 10px;
        margin: 10px 0;
        padding: 10px;
        width: 500px;
    }

    table {
        background-color: var(--fg-color);
    }
</style>


<div class="wrapper">

<h1>@Model.GroupName</h1>
<div style="display: flex; justify-content: space-between;">
<div style="font-weight: bold; color: @((Model.Total > 0) ? "green" : (@Model.Total < 0) ? "red" : "black")">TOTAL: @Model.Total.ToString("N2")</div>
    <div style="display: inline-block;">
        @Html.DropDownList("currency", new SelectList(new List<string> { "PLN", "GBP", "USD", "EUR" }, Model.Currency), new { onchange = "updateCurrency()" })
    </div>
</div>
<span>Members: @string.Join(", ", Model.Members)</span>



<div style="margin: 10px 0">
    <form method="get" action="@Url.Action("SaveCheckout", new { groupId = ViewBag.GroupId})">
        <button class="btn" type="submit">ADD CHECKOUT</button>
    </form>

</div>
<div style="color: var(--fg-color)">
    <label style="color: var(--text)">SORT: </label>
    @Html.DropDownList("sortBy", new SelectList(new List<string> { "Date ASC", "Date DESC", "Price ASC", "Price DESC" }), new { onchange = "updateSort()" })
</div>

    <ul style="list-style: none; padding: 0;">
    @foreach (var checkout in Model.Checkouts)
    {
        if (checkout.UserEmail == Model.Email)
        {
            <li class="summary-li">
                @checkout.UserEmail: @checkout.Description - @checkout.Price @checkout.Currency, is splitted: @checkout.IsSplitted, date @checkout.CreatedAt
                <div>
                    <form method="get" action="@Url.Action("Delete", new { checkoutId = checkout.CheckoutId })">
                        <button style="margin: 10px 5px;" class="btn" type="submit">DELETE</button>
                    </form>
                    <form method="get" action="@Url.Action("Update", new { checkoutId = checkout.CheckoutId })">
                        <button style="margin: 0 5px;" class="btn" type="submit">UPDATE</button>
                    </form>
                </div>
            </li>
        }
        else
        {
            <li class="summary-li">@checkout.UserEmail: @checkout.Description - @checkout.Price @checkout.Currency, is splitted: @checkout.IsSplitted</li>
        }
    }
</ul>
</div>

<script>
    function updateCurrency() {
        var selectedValue = document.getElementById("currency").value;
        var selectedValue2 = document.getElementById("sortBy").value;
        var url = "@Url.Action("Summary", new { groupId = (int)ViewBag.GroupId })";
        url += "&currencyBase=" + encodeURIComponent(selectedValue);
        url += "&sortBy=" + encodeURIComponent(selectedValue2);
        window.location.href = url;
    }

    function updateSort() {
        var selectedValue = document.getElementById("sortBy").value;
        var selectedValue2 = document.getElementById("currency").value;
        var url = "@Url.Action("Summary", new { groupId = (int)ViewBag.GroupId})";
        url += "&currencyBase=" + encodeURIComponent(selectedValue2);
        url += "&sortBy=" + encodeURIComponent(selectedValue);
        window.location.href = url;
    }
</script>