@using Split_Receipt.Payload
@using Microsoft.AspNetCore.Mvc.Rendering
@model Split_Receipt.Payload.CheckoutRequest

<style>
    :root {
        --fg-color: rgb(67, 68, 73);
        --fg-color--light: rgb(117, 118, 123);
        --bg-color: #35363a;
        --text: #FFF;
    }

    body {
        background-color: var(--bg-color);
    }

    .wrapper {
        background-color: var(--fg-color);
        padding: 30px;
        display: block;
        width: 350px;
    }

    table {
        background-color: var(--fg-color);
    }
</style>

<div class="wrapper">
<h2>Update Checkout</h2>
<form method="post" asp-controller="Checkout" asp-action="Update" asp-route-groupId="@ViewBag.CheckoutId">
    <div class="form-group">
            <label style="color: var(--text);width: 300px;" asp-for="Price"></label>
            <input asp-for="Price" class="form-control" value="@Model.Price" />
        <div class="form-group">
                <label style="color: var(--text)" asp-for="Currency"></label>
            <select asp-for="Currency" class="form-control">
                <option value="PLN" selected="@Model.Currency == " PLN"">PLN</option>
                <option value="EUR" selected="@Model.Currency == " EUR"">EUR</option>
                <option value="USD" selected="@Model.Currency == " USD"">USD</option>
                <option value="GBP" selected="@Model.Currency == " GBP"">GBP</option>
            </select>
        </div>

        <div class="form-group">
                <label style="color: var(--text);width: 300px;" asp-for="IsSplitted"></label>
            <div class="form-check">
                    <label style="color: var(--text)" class="form-check-label">
                    <input type="radio" asp-for="IsSplitted" value="True" checked="@Model.IsSplitted" /> Yes
                </label>
            </div>
            <div class="form-check">
                    <label style="color: var(--text);width: 300px;" class="form-check-label">
                    <input type="radio" asp-for="IsSplitted" value="False" checked="@(Model.IsSplitted == false ? "checked" : null)" /> No
                </label>
            </div>
        </div>

        <div class="form-group">
                <label style="color: var(--text);width: 300px;" asp-for="Description"></label>
                <input asp-for="Description" class="form-control" value="@Model.Description" />
        </div>

        <input type="hidden" name="checkoutId" value="@ViewBag.checkoutId" />
        <button style="margin: 10px 0; margin-right: 5px;" class="btn" type="submit" formaction="/Checkout/Update/@ViewBag.checkoutId">Update</button>
 
     
        <form method="get" action="@Url.Action("Summary", new { groupId = ViewBag.GroupId, currencyBase = "PLN" })">
            <button class="btn" type="submit">CANCEL</button>
        </form>

    </div>
</form>
</div>